DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=pguser
DB_PASSWORD=pgpwd
DB_NAME=health_med
DB_SSL=false

# Amazon Cognito
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
# Para provisionar o Cognito na AWS clone o repositório Health&Med e siga as instruções no README

GOOGLE_MEET_API_KEY=